# Virtual environment
/bin/
!/chroma/bin/
include/
lib/
lib64/
share/

# Compiled python files
*.pyc
__pycache__/

# Virtual environment configuration
pyvenv.cfg

# Operating system files
.DS_Store
Thumbs.db

# IDE/Editor specific files
.vscode/
.idea/

# Python distribution artifacts
build/
dist/
*.egg-info/

# Log files
*.log

# Neo4j data files
neo4j/

# Temporary files
*.tmp

# Env file
.env
# Env file for local development
.env.local